 .Page-Content {
    background-color: skyblue;
}

.container {
    background-color: white;
}
 footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 5vh;
    background-color: teal;
    text-align: center;
}
.portfolio-image {
   margin: 1%;
   padding: auto;
}