.Page-Content {
    background-color: skyblue;
}


.container {
    background-color: white;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 10vh;
    background-color: teal;
}